/__pycache__
/myenv3
.gitattributes
dwarf_backup.db
/__pycache__
/build
/__pycache__
/__pycache__
*.pyc
*.pyc
/exe.win-amd64-3.12
/old
*.pyc
*.pyc
/MTP_Downloads
/.nicegui
*.pyc
/Dwarf_Local
/test_script
/dist
/test-api
image/image-fits.psd
/DwarfiumScopeArchive
/test
/db/test
/dist
.DS_Store
